global
  log 127.0.0.1 local0
  stats socket /var/run/haproxy.sock mode 600 expose-fd listeners level user
  stats socket ipv4@127.0.0.1:9999 level admin
  stats timeout 2m
  server-state-file /var/lib/haproxy/server-state

defaults
  log global
  log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %r %{+Q}r"
  #option httplog
  mode http
  option forwardfor
  timeout connect 5s
  timeout client 50s
  timeout server 50s
  load-server-state-from-file global

frontend innoria
  bind *:80
  mode http
  use_backend default_backend

# listen stats
#   bind *:8080
#   mode http
#   stats refresh 5s
#   log global
#   stats enable
#   stats realm Haproxy\ Statistics
#   stats uri /stats
#   stats hide-version
#   stats auth admin:Innoria@123

backend default_backend
  server default_backend 192.168.1.181:8099
